.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    background-color: #A4B25F;
}

.title {
    display:block;
    color: #273A2E;
    font-size: 22px;
}
a{
    max-width: 250px;
}